# LaTeX files
*.log
*~
*.toc
*.aux
*.lof
*.lot

D2.3/Synthesis/.DS_Store
Workspace/SafetyRequirementsExamples/.DS_Store
Workspace/SafetyRequirementsExamples/includes/.DS_Store
Workspace/.DS_Store
.DS_Store
/review/
